/*Thanks to Steven La for animation*/

@-webkit-keyframes slide-in-first {
    0% {
        top: 4em;
        opacity: 0;
    }
    50% {
        top: 0;
    }
    100% {
        top: 0;
    }
}

body {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 80%;
    height: 95%;
    background-color: #87CEEB;

    font-family: 'Carrois Gothic', sans-serif;
    color: #666;
}

h1, h2, p {
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

h1 {
    font-size: 4em;
    color: #222;
    text-align: center;
}

h2 {
    font-weight: lighter;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    webkit-animation: fade-in-second 1.0s ease-in-out;
}

a {
    color: #2096b3;
    text-decoration: none;
    
    -webkit-transition: all 0.125s ease-in-out;
}

ul {
    list-style: none;
    padding: 0.5em 0 0;
    margin: auto;
    line-height: 150%;
    position: absolute;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-top: 2em;    
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.circle{
    width:10em;
    height:10em;
    border-radius:50%;
    vertical-align: middle;
    display: table-cell;
}

.links{    
    font-family: 'Oswald', sans-serif;
    position: relative;
    -webkit-animation: slide-in-first 1.0s ease-in-out;
}

#gmail{
    color: #87CEEB;
    font-size: 2.5em;
    vertical-align: middle;

}

#gmailcircle{
    background-color: white;
}

#github{
    color: white;
    font-size: 2.5em;
    vertical-align: middle;
}

#githubcircle{
    background-color: gray;
}

#linkedin{
    color: white;
    font-size: 2.5em;
    vertical-align: middle;
}

#linkedincircle{
    background-color: #007bb6;
}

#tumblr{
    color: white;
    font-size: 2.5em;
    vertical-align: middle;
}

#tumblrcircle{
    background-color: #32506d;
}

#facebook{    
    color: white;
    font-size: 2.5em;
    vertical-align: middle;
}

#facebookcircle{
    background-color: #3b5998;
}

#twitter{
    color: white;
    font-size: 2.5em;
    vertical-align: middle;
}

#twittercircle{
    background-color: #00aced;
}
